@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif !important;
}

.gradient-bg {
  background: linear-gradient(to right, #7a7a7e, #ffffff);
}

.gradient {
  background: linear-gradient(to right, #7a7a7e, #ffffff);
  -webkit-background-clip: text;
  color: transparent;
}

.color-gradient-bg {
  background: linear-gradient(to right, #e54d60, #a342ff);

}

.color-gradient {
  background: linear-gradient(to right, #e54d60, #a342ff);
  -webkit-background-clip: text;
  color: transparent;
}

.hushh-gradient {
  background: linear-gradient(265.3deg, #e54d60 8.81%, #a342ff 94.26%);
  -webkit-background-clip: text;
  color: transparent;
  border-color: linear-gradient(265.3deg, #e54d60 8.81%, #a342ff 94.26%);
}

.hushh-gradient-bg {
  background: linear-gradient(265.3deg, #e54d60 8.81%, #a342ff 94.26%);
}

.blue-gradient-text {
  background-image: linear-gradient(to right, #00A9E0, #6DD3EF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline;
}

.blue-gradient-bg {
  background: linear-gradient(to right, #00A9E0, #6DD3EF);
}