@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: 'Figtree', sans-serif !important;
}


.hushh-gradient {
    background: linear-gradient(265.3deg, #e54d60 8.81%, #a342ff 94.26%);
    -webkit-background-clip: text;
    color: transparent;
    border-color: linear-gradient(265.3deg, #e54d60 8.81%, #a342ff 94.26%);
  }